*{ 
    margin: 0;
    box-sizing: border-box;
}

main{
    padding: 0px;
  
}

body {
    background-color: rgb(30 95 149);
    color: #ff3c3c;
    background-size: 100%;
}
.top {
    padding: 20px;
    font-size: 20px; 
    background-image: url(deep\ sea.jpg);
}

.navegação {
    display: flex;
    list-style: none;
   
}

.grade {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    background-color: #1a17b6;
}

.titulo {
    text-align: center;
    margin-bottom: 10px;
}

.botao {
    background-color: rgba(0, 89, 255, 0.699);
        color: rgb(238, 255, 0);
        text-decoration: none;
        padding: 20px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        font-size: 15px;
        width: 150px;
        height: 100px;
}

.bot {
    background-color: rgba(0, 89, 255, 0.699);
    color: rgb(238, 255, 0);
    text-decoration: none;
    padding: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-size: 15px;
}

.botao:hover {
    background-color: rgb(0, 255, 34);
}

.botao img{
    height: 60px
}

.vendas {
    margin: 23px;
    padding: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(30 95 149);
    width: 320px;

    
}

.vendas img {
width:100%;


}
.texto {
    text-align: center;
    font-size: 30px;
    margin: auto;
}

.textprod {color: rgb(33, 255, 44);

}

.menu {
    display: flex;
    list-style: none;
    margin-left: auto;
    text-align: right;
}

.menu a:hover {
    color: rgb(0, 255, 34);
}

.menu li {
    margin-left: 20px;
    text-align: right;
}

.rodape {
    font-size: 30px;
    padding: 30px;   
    text-align: center;
    min-width: 320px;
    color: #ff0000;
    background-image: url(deep\ sea.jpg);
}

.contato {
    background-color: #1a17b6;
    padding: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    color: rgb(0, 255, 34) ;
}

.formulario { 
    display: block;
    width: 100%;
    height: 25px;
    padding-left: 10px;
    font-size: 20px;
  border: none;
  background-color: #e2ff3c;
}

textarea.campo {
    height: 100px;
}

.rotulo {
    display: block ;
    margin-bottom: 20px;
}
 
.final {
    margin-left: auto;
    font-size: 30px;
}

.map {
    width: 100%;
    margin-bottom: auto;
    margin-right: auto;
}

.logo1 {
    width: 100px;
}

@media (min-width: 320px) {
    .vendas {
        margin: 26px;
        padding: 25px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(30 95 149);
        width: 320px;
    }
  
}

@media (min-width: 320px) {
    .textprod {
        color: rgb(33, 255, 44);
        font-size: 15px;
    }
}

@media (min-width: 320px) {
    .rodape {
        font-size: 30px;
        padding: 31px;
        text-align: center;
        color: #ff0000;
        background-image: url(deep\ sea.jpg);
    }
}

@media (min-width: 320px) {
    .vendas img {
        width: 100%;
    }
}

@media (min-width: 320px) {
    .titulo {
        text-align: center;
        margin-bottom: 10px;
        font-size: 20px;
    }
}

@media (min-width: 320px) {
    .grade {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        background-color: #1a17b6;
    }
}

@media {
    .texto {
        text-align: center;
        font-size: 15px;
        margin: auto;
    }    
}